body {
  background-color: #0d6efd;
}
.first {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e5e5e5;
  background-size: 100% 100vh;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 50%;
}
h2{
  text-align: center;
}